.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 42px;
  padding: 12px 22px;
  font-family: 'Gotham Bold';
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: 1px solid #2880a3;
  border-radius: 2px;
  box-shadow: none;
  background-color: #2880a3;
  transition: background-color 0.1s;
  cursor: pointer; }
  .button:hover {
    background-color: #195066;
    transition: background-color 0.1s; }
  .button:disabled, .button[disabled] {
    cursor: not-allowed;
    opacity: 0.5; }
  .button--icon {
    background-color: #fff;
    padding: 13px;
    flex-direction: column;
    align-items: center; }
    .button--icon:hover {
      background-color: rgba(40, 128, 163, 0.2); }
    .button--icon .button__icon svg {
      width: 14px;
      height: 14px; }
      .button--icon .button__icon svg path {
        fill: #2880a3; }
