@import './fonts.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  color: map-get($colors, text);
  font-size: map-get($fontsizes, default);
}

a,
a:hover,
a:link,
a:visited {
  color: map-get($colors, text);
  font-size: map-get($fontsizes, default);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pageContent {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.isvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.react-phone-number-input__icon {
  border: 0;
}
