@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/opensans-regular-webfont.eot");
  src: local("Open Sans"), local("OpenSans"), url("./../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/opensans-regular-webfont.woff2") format("woff2"), url("./../fonts/opensans-regular-webfont.woff") format("woff"), url("./../fonts/opensans-regular-webfont.ttf") format("truetype"), url("./../fonts/opensans-regular-webfont.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/opensans-bold-webfont.eot");
  src: local("Open Sans Bold"), local("OpenSansBold"), url("./../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/opensans-bold-webfont.woff2") format("woff2"), url("./../fonts/opensans-bold-webfont.woff") format("woff"), url("./../fonts/opensans-bold-webfont.ttf") format("truetype"), url("./../fonts/opensans-bold-webfont.svg#OpenSansBold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/gotham-bold-webfont.eot");
  src: local("Gotham Bold"), local("GothamBold"), url("./../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./../fonts/gotham-bold-webfont.woff2") format("woff2"), url("./../fonts/gotham-bold-webfont.woff") format("woff"), url("./../fonts/gotham-bold-webfont.ttf") format("truetype"), url("./../fonts/gotham-bold-webfont.svg#OpenSansBold") format("svg");
  /* Legacy iOS */ }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'Open Sans';
  color: #333;
  font-size: 14px; }

.pageContent {
  max-width: 600px;
  margin: 0 auto; }

.isvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.react-phone-number-input__icon {
  border: 0; }

.form__label {
  font-size: 16px;
  font-family: 'Gotham Bold';
  line-height: 1.4em;
  margin-right: 10px; }

.form__element {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.form__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .form__actions .button {
    margin: 0 5px; }

.form__input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 2px;
  padding: 5px 15px; }
