@import './fonts.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  color: map-get($colors, text);
  font-size: map-get($fontsizes, default);
}

.pageContent {
  max-width: 600px;
  margin: 0 auto;
}

.isvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.react-phone-number-input__icon {
  border: 0;
}
