@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/opensans-regular-webfont.eot'); // IE9 Compat Modes
  src: local('Open Sans'), local('OpenSans'),
    url('./../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../fonts/opensans-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./../fonts/opensans-regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('./../fonts/opensans-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../fonts/opensans-regular-webfont.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/opensans-bold-webfont.eot'); // IE9 Compat Modes
  src: local('Open Sans Bold'), local('OpenSansBold'),
    url('./../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../fonts/opensans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./../fonts/opensans-bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('./../fonts/opensans-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/gotham-bold-webfont.eot'); // IE9 Compat Modes
  src: local('Gotham Bold'), local('GothamBold'),
    url('./../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../fonts/gotham-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./../fonts/gotham-bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('./../fonts/gotham-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../fonts/gotham-bold-webfont.svg#OpenSansBold') format('svg'); /* Legacy iOS */
}
